/*  Ejercicio 1 */

/* los elementos padres no perciben los elementos flotantes en su interior
por ello se le añade esta propiedad 'overflow' para que los perciba */

div#contenedor {
    width: 400px;
    min-height: 100px;
    background: gray;
    /* overflow: auto; */
}
#contenedor > div {
    opacity: 0.4;
}

.float1 {
    width: 300px; 
    height: 300px; 
    background-color: green;
    float: left; 
}
.float2 {
    width: 100px; 
    height: 300px; 
    background-color: red;
    float: right; 
}
.clear {
    /* width: 100px; */
    /* height: 100px;  */
    /* background-color: blue; */
    clear: both
}