#contenedor {
    width: 100%;
    height: 300px;
    display: block;
    background-color: green;
}

#contenedor div {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: white;
    /* display: block;
    display: inline; */
    display: inline-block;

}

